body{
	background-image: url("../img/wallpaper-2901370.jpg");
	background-attachment: fixed;	
	background-size: 1680px 1050px
}
a {
	color: orange;
	font-family: verdana;
	font-size: 18px;
	font-variant: small-caps;
	margin: 10px;
	display: inline-block;
}
a:hover {
	background: yellow;
	color: orange;
}
li:nth-child(1) {
	background: #ef4715;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 40px;
    color: red;
    text-decoration: none;
    font-family: verdana;
    border-radius: 20px;
}
li:nth-child(2) {
	background: #ef4715;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 40px;
    color: red;
    text-decoration: none;
    font-family: verdana;
    border-radius: 20px;
}
li:nth-child(3) {
	background: #ef4715;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 40px;
    color: red;
    text-decoration: none;
    font-family: verdana;
    border-radius: 20px;
}
li:nth-child(4) {
	background: #ef4715;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 40px;
    color: red;
    text-decoration: none;
    font-family: verdana;
    border-radius: 20px;
}
li:nth-child(5) {
	background: #ef4715;
    padding: 10px 10px 10px 10px;
    width: 200px;
    height: 40px;
    color: red;
    text-decoration: none;
    font-family: verdana;
    border-radius: 20px;
}


.a1 {
	color: orange;
	font-family: verdana;
	font-size: 15px;
	font-variant: small-caps;
	margin: 10px;
	text-align: center;
	display: inline-block;
}
.a1:hover {
	background: yellow;
	color: orange;
}
.a1:visited {
	color: #ffdfb5;
	font-family: verdana; 
	font-size: 15px;
	font-variant: small-caps;
	margin: 10px;
	text-align: center;
	display: inline-block;
}
.a1:link {
	color: orange;
	font-family: verdana; 
	font-size: 15px;
	font-variant: small-caps;
	margin: 10px;
	text-align: center;
	display: inline-block;
}
p {
	color: #ffdfb5
}
.countainer1 {
	text-align: center
	}
.Image {
	width: 300px;
	height: 150px;
	border-radius: 25px;
    border: 5px #fbb356 solid;
    box-shadow: 0 0 10px #444;
}
.Image1 {
	width: 205px;
	height: 270px;
	border-radius: 25px;
    border: 5px #fbb356 solid;
    box-shadow: 0 0 10px #444;
}
.Image2 {
	width: 260px;
	height: 400px;
	border-radius: 25px;
    border: 5px #fbb356 solid;
    box-shadow: 0 0 10px #444;
}
.Image3 {
    width: 155px;
	height: 155px;
	border-radius: 25px;
    border: 3px #fbb356 solid;
    box-shadow: 0 0 13px #444;  
}
.Image4 {
    width: 1400px;
	height: 300px;
	border-radius: 50px;
   }
.Image5 {
    width: 560px;
	height: 800px;
	border-radius: 50px;
   }
h1 {
	color: #fbb356;
	font-size: 30px;
	font-weight: 1000;
	text-align: center;
}
h2 {
	color: #ffbe00;
}
h3 {
	color: #fbb356;
	font-size: 30px;
	font-weight: 1000;
	text-align: center;
}
p {
	color: #fbb356;
}
.p1 {
	color: black;
}
ul {
	list-style-image: url(../img/faq_list5_2.png);
}
.input {
	width:200px;
	height:25px;
	border: 2px solid grey;
	padding: 5px;
}
.input1 {
	width:100px;
	height:25px;
}
.input:focus {
	background: lightyellow;
	border-color: blue;
	outline: none;
}
.input-form:focus {
	background: lightyellow;
	border-color: blue;
	outline: none;
}
.countainer2 {
	color: #ffbe00;
}
.one {
	color: #f7e0c2
}
::-webkit-input-placeholder {
	color: black;
	font-size: 15px;
}
.a {
	background: #f39d01;
    padding: 10px 10px 10px 10px;
    color: red;
    text-decoration: none;
    font-family: verdana;
    border-radius: 20px;
    box-shadow: 3px -2px teal;
}
.countainer3 {
	text-align: left;
}
}
.countainer4 {
	text-align: right;
}
.post-itm{
	display: inline-block;
}
.item1{
	width: 100%;
}
.item2{
	width: 100%;
}
.item3{
	width: 100%;
}

.flex-container1 {
	display: -webkit-flex;
	-webkit-align-items: flex-start;
    display: flex;
    align-items: flex-start;
}
.flex-container {
	display: -webkit-flex;
	-webkit-justify-content: space-between;
	display: flex;
    justify-content: space-between;

}
@media screen and (max-width: 380px) {
	.item1{
	    display: none;
	}
}
@media screen and (min-width: 380px) {
	.item2{
		display: none;
	}
}
@media screen and (max-width: 310px) {
	.item4{
	    display: none;
	}
@media screen and (max-width: 560px) {
	.aone{
		display: none;
	}

